<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="QLNhanSu.Properties.Settings.QLNSConnectionString" connectionString="Data Source=NGUYENTINH;Initial Catalog=QLNS;User ID=nguyentinh;Password=kimlong" providerName="System.Data.SqlClient"/>
        <add name="QLNhanSu.Properties.Settings.QLNSConnectionString1" connectionString="Data Source=STV02-PC;Initial Catalog=QLNS;Integrated Security=True" providerName="System.Data.SqlClient"/>
        <add name="QLNhanSu.Properties.Settings.ConnectionString" connectionString="Data Source=STV02-PC;Integrated Security=True" providerName="System.Data.SqlClient"/>
        <add name="QLNhanSu.Properties.Settings.QLNSConnectionString2" connectionString="Data Source=NGUYENTINH;Initial Catalog=QLNS;Integrated Security=True" providerName="System.Data.SqlClient"/>
    </connectionStrings>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
